<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
  <div>TeamMember</div>
  <% @team.users.each do |user| %>
	 <div><%=link_to user.user_name, user_path(user.id) %></div>
  <% end %>
</p>

<% if user_signed_in? %>
  <p><%= link_to "チームに参加する", join_team_path(@team), method: :post %></p>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>

<h2>チャット</h2>
<p>
  there are <%= @chat_count %> chat(s) before.
</p>

<!-- jsに食わせたい情報などなど -->
<div id="user_id" style="display:none;"><%= current_user.id %></div>
<div id="team_id" style="display:none;"><%= session[:team_id] %></div>

<!-- チャットのタイムラインとログ -->
<div id="timeline" style="margin:20px;">
  <ul id="chat" data-uri="<%= request.host %>:3000/websocket">
  <% @chat_log.reverse_each do |x| %>
    <li><%= x.updated_at %>　<%= x.user_id %>: <%= x.body %></li>
  <% end %>
  </ul>
</div>

<hr/>

<!-- テキストボックス -->
<div>
 <form class="form-horizontal">
   <input type="text" class="form-control" id="msgbody" />
   <input type="button" class="btn btn-primary" id="send" value="送信"/>
 </form>
</div>
