<%= form_for(@matching) do |f| %>
  <% if @matching.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matching.errors.count, "error") %> prohibited this matching from being saved:</h2>

      <ul>
      <% @matching.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for matching_queue do |f| %>
    <%= f.text_field :summoner_name %>
    <%= f.check_box :top %>
    <%= f.check_box :mid %>
    <%= f.check_box :bot %>
    <%= f.check_box :sup %>
    <%= f.check_box :jg %>
  <% end %>

  <% if use_socket %>
    <input type="button" class="btn btn-primary" id="send_rolechange" value="change_queue"/>
  <% else %>
    <div class="actions">
      <%= f.submit submit_name , :name => action_name %>
    </div>
  <% end %>

<% end %>
