<h1>welcome summoner!</h1>
<div>
	<%= form_tag(search_matchings_path, method: "get") do %>
		<%= label_tag(:summoner_name, "summoner name:") %>
		<%= text_field_tag(:summoner_name) %>
		<%= submit_tag("login") %>
	<% end %>
</div>

<% @summonerInfo %>

<% if @is_login %>
<h1>summoner infomation</h1>
<% p @summonerInfo %>
<%= @summonerInfo["id"] %>
<% end %>

<h1>search matchings</h1>

<%= form_for(@matching_search, url: search_matchings_path, html: {method: :get, class: "form-horizontal", role: 'form'}) do |f| %>
  <div class="field">
    <%= f.label :queue_type %><br>
    <%= f.select :queue_type, Matching.queue_types.keys.to_a, {}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :under30 %><br>
    <%= f.check_box :under30 %>
  </div>
  <div class="field">
    <%= f.label :unranked %><br>
    <%= f.check_box :unranked %>
  </div>
  <div class="field">
    <%= f.label :bronze %><br>
    <%= f.check_box :bronze %>
  </div>
  <div class="field">
    <%= f.label :silver %><br>
    <%= f.check_box :silver %>
  </div>
  <div class="field">
    <%= f.label :gold %><br>
    <%= f.check_box :gold %>
  </div>
  <div class="field">
    <%= f.label :plutinum %><br>
    <%= f.check_box :plutinum %>
  </div>
  <div class="field">
    <%= f.label :diamond %><br>
    <%= f.check_box :diamond %>
  </div>
  <div class="field">
    <%= f.label :master %><br>
    <%= f.check_box :master %>
  </div>
  <div class="field">
    <%= f.label :challenger %><br>
    <%= f.check_box :challenger %>
  </div>
  <div class="field">
    <%= f.label :role_primary %><br>
    <%= f.select :role_primary, MatchingQueue.primary_roles.keys.to_a, {}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :role_primary %><br>
    <%= f.select :role_primary, MatchingQueue.secondary_roles.keys.to_a, {}, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'search', :name => 'search' %>
  </div>

<% end %>

<h1>Listing Matchings</h1>

<table>
  <thead>
    <tr>
      <th>Queue type</th>
      <th>Under30</th>
      <th>Unranked</th>
      <th>Bronze</th>
      <th>Silver</th>
      <th>Gold</th>
      <th>Plutinum</th>
      <th>Diamond</th>
      <th>Master</th>
      <th>Challenger</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matchings.each do |matching| %>
      <tr>
        <td><%= matching.queue_type %></td>
        <td><%= matching.under30 %></td>
        <td><%= matching.unranked %></td>
        <td><%= matching.bronze %></td>
        <td><%= matching.silver %></td>
        <td><%= matching.gold %></td>
        <td><%= matching.plutinum %></td>
        <td><%= matching.diamond %></td>
        <td><%= matching.master %></td>
        <td><%= matching.challenger %></td>
        <td><%= matching.deadline %></td>
        <td><%= link_to 'Show', matching %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
