<p id="notice"><%= notice %></p>

<p>
  <strong>Queue type:</strong>
  <%= @matching.queue_type %>
</p>

<p>
  <strong>Under30:</strong>
  <%= @matching.under30 %>
</p>

<p>
  <strong>Unranked:</strong>
  <%= @matching.unranked %>
</p>

<p>
  <strong>Bronze:</strong>
  <%= @matching.bronze %>
</p>

<p>
  <strong>Silver:</strong>
  <%= @matching.silver %>
</p>

<p>
  <strong>Gold:</strong>
  <%= @matching.gold %>
</p>

<p>
  <strong>Plutinum:</strong>
  <%= @matching.plutinum %>
</p>

<p>
  <strong>Diamond:</strong>
  <%= @matching.diamond %>
</p>

<p>
  <strong>Master:</strong>
  <%= @matching.master %>
</p>

<p>
  <strong>Challenger:</strong>
  <%= @matching.challenger %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @matching.deadline %>
</p>

<!-- save token of current member -->
<div id="current_token" style="display:none;"><%= @current_token %></div>

<strong>Queue_people</strong>
<% @matching.get_member_array.each_with_index do |member, index| %>
<p>
  <div id= "<%= "summoner_name" + (index+1).to_s %>" ><%= member.summoner_name %></div>
    <% if flash[:current_token] && member.token == flash[:current_token]%>
      <div id="matching" data-uri="<%= request.host %>:3000/websocket">
        <!-- give values to coffeescript -->
        <div id="matching_id" style="display:none;"><%= @matching.id %></div>
        <div id="token" style="display:none;"><%= flash[:current_token] %></div>
        <%= form_for(@matching) do |f| %>
          <%= fields_for member do |f| %>
            <%= f.check_box :top %>
            <%= f.check_box :mid %>
            <%= f.check_box :bot %>
            <%= f.check_box :sup %>
            <%= f.check_box :jg %>
          <% end %>
          <div>
            <input type="button" class="btn btn-primary" id="send_rolechange" value="change_queue"/>
          </div>
        <% end %>
      </div>
    <% else %>
      <div id="top<%= (index + 1).to_s %>"><%= member.top %></div>
      <div id="mid<%= (index + 1).to_s %>"><%= member.mid %></div>
      <div id="bot<%= (index + 1).to_s %>"><%= member.bot %></div>
      <div id="jg<%= (index + 1).to_s %>"><%= member.jg %></div>
      <div id="sup<%= (index + 1).to_s %>"><%= member.sup %></div>
    <% end %>
    </p>
<% end %>

<%= link_to 'Join', join_matching_path(@matching) %>
<%= link_to 'Edit', edit_matching_path(@matching) %>
<%= link_to 'Back', matchings_path %>

<%= javascript_include_tag "extra/matchings" %>
