<div class="container-fluid" id="main">
<% if flash[:unlock] %>
	<% flash[:unlock].each do |achievement_array| %>
	<% achievement_array.each do |achievement| %>
	<p class="alert alert-info"><span class="glyphicon glyphicon-info-sign">　</span>実績<%= achievement["name"] %>をアンロックしました！</p>
	<% end %>
	<% end %>
<% end %>

<div class="jumbotron">
	<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1><%= @user.user_name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="progress">
        	<div class="progress-bar text-left" role="progressbar" style="width: 100%;">
            <%# todo: check assignment summonerInfo%>
            <span class="badge text-left"><%#= @user.summoner_level %>30</span>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%# todo: check assignment summonerInfo%>
      <div class="btn-group" role="group">
        <%= link_to sanitize('
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-wrench">
              編集
              </span>
          </button>
        ') , edit_user_registration_path, method: :get, class: "btn btn-default", role: "button"%>
      </div>
			<div class="btn-group" role="group">
        <%= link_to sanitize('
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-refresh">
              更新
              </span>
          </button>
        ') , refresh_user_path(@user), method: :post, class: "btn btn-default", role: "button"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-stripped table-bordered table-hover">
        <tr><th><strong>所属チーム</strong></th></tr>
      	<% @user.teams.each do |team| %>
    		  <tr><td><%= link_to team.name, team_path(team.id) %></td></tr>
    	  <% end %>
        <% if @user.teams.empty? %>
          <tr><td>所属チームなし</td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= render :partial => 'layouts/playtime', :locals => {user: @user} %>

<p>
  <div>
  	<strong>Name:</strong>
  	<%= @user.user_name %>
  </div>

  <div>
  	<strong>SummonerName:</strong>
  	<%= @user.summoner_name %>
  </div>
  <div>
  	<strong>所属チーム</strong>
  	<% @user.teams.each do |team| %>
		<div><%= link_to team.name, team_path(team.id) %></div>
	<% end %>
  </div>
</p>

<% if @user.matching_queue %>
	<div><%= link_to "現在の部屋", matching_path(@user.matching_queue.matching_id) %></div>
<% end %>


<table>
<tr>
<% @games.each do |game| %>
  <%= render :partial => 'layouts/game_row' , :locals => { game: game, summonerInfo: @summonerInfo} %>
<% end %>
</tr>
</table>

<p>
	<strong>Achievements</strong>
	<div class="container">
    <div class="row">
			<% @user.achievements.each do |achievement| %>
				<div class="col-xs-6 col-md-3">
					<%= render :partial => 'achievements/achievement_small_fragment' , :locals => {achievement: achievement} %>
				</div>
			<% end %>
		</div>
	</div>
</p>
