<h1>こんにちは、<%= current_user.user_name %>さん</h1>

<h2>所属チーム</h2>

<% current_user.teams.each do |team| %>
<div><%= link_to team.name, team_path(team.id) %></div>
<% end %>

<h2>サモナー情報</h2>
<table border="1">
  <% @summonerInfo.each do | key, val | %>
  <tr>
	<th><%= key %></th>
	<th><%= val %></th>
  </tr>
  <% end %>
  <tr>
	<th>role</th>
	<th><%= current_user.champion_role %></th>
  </tr>
</table>

<h2>ゲーム情報</h2>
<table border="1">
  <% current_user.games.each do |game| %>
  <tr>
  <th>GameId</th>
  <th><%= game.game_id %></th>
  <th><%= getChampionImageTagById(@image_url, game.champion_id) %></th>
  <th><%= getSummonerSpellImageTagById(@image_url, game.spell_1) %> <%= getSummonerSpellImageTagById(@image_url, game.spell_2) %></th>
  <th><%= game.kill.to_s + "/" + game.death.to_s + "/" + game.assist.to_s %></th>
  <th><%= getItemImageTagById(@image_url, game.item0) %>
  <%= getItemImageTagById(@image_url, game.item1) %>
  <%= getItemImageTagById(@image_url, game.item2) %>
  <%= getItemImageTagById(@image_url, game.item3) %>
  <%= getItemImageTagById(@image_url, game.item4) %>
  <%= getItemImageTagById(@image_url, game.item5) %>
  <%= getItemImageTagById(@image_url, game.item6) %></th>
  </tr>
  <% end %>
</table>
