<!DOCTYPE html>
<html>
<head>
  <title>ProjectSolari</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%# ---header menu---%>
  <nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
  				<span class="sr-only">Toggle navigation</span>
  				<span class="glyphicon glyphicon-align-justify"></span>
  			</button>
        <%= link_to "solari", root_path, id: "logo", class: "navbar-brand" %>
  		</div>
      <div class="collapse navbar-collapse" id="navbarEexample">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "achievements", achievements_path %></li>
          <li><%= link_to "teams", teams_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to "user: "+current_user.user_name , current_user, method: :get %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Log in", user_session_path, class: "navbar-text navbar-right" %></li>
          <% end %>
        </ul>
      </div>
  	</div>
  </nav>

  <div class="container-fluid" id="main">
    <% if notice %>
      <p class="alert alert-info"><span class="glyphicon glyphicon-info-sign">　</span><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-warning"><span class="glyphicon glyphicon-info-sign">　</span><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
</div>

</body>
</html>
