<!DOCTYPE html>
<html>
<head>
  <title>ProjectSolari</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
  				<span class="sr-only">Toggle navigation</span>
  				<span class="glyphicon glyphicon-align-justify"></span>
  			</button>

        <%= link_to "solari", root_path, id: "logo", class: "navbar-brand" %>

  		</div>
      <div class="collapse navbar-collapse" id="navbarEexample">
        <ul class="nav navbar-nav">
          <li><%= link_to "achievements", achievements_path %></li>
          <li><%= link_to "teams", teams_path %></li>
        </ul>
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-text navbar-right"  %></li>
          <%= link_to "user: "+current_user.user_name , edit_user_registration_path, method: :get, class: "navbar-text navbar-right"%>
        <% else %>
          <%= link_to "Log in", user_session_path, class: "navbar-text navbar-right" %>
        <% end %>
      </div>


  	</div>
  </nav>
  </div>
  <div>
    <% if notice %>

    <p class="alert alert-notice"><%= notice %></p>

    <% end %>

    <% if alert %>

    <p class="alert alert-error"><%= alert %></p>

    <% end %>

    <%= yield %>
  </div>
</div>

</body>
</html>
